<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
</head>

  <h2>Hundsajten</h2>
  </a>
  </li>

  <li>
    <a href="/admin" >
      <span class="sidebar-icon"><i class="fas fa-calendar"></i></span>
      <span class="sidebar-text"> Admin</span>
    </a>
  </li>
  <li>
    <a href="/customer"  sec:authorize="hasAuthority('Customer')">
      <span class="sidebar-icon"><i class="fas fa-calendar"></i></span>
      <span class="sidebar-text"> Customer</span>
    </a>
  </li>
  <li>
    <a href="/profile" >
      <span class="sidebar-icon"><i class="fas fa-calendar"></i></span>
      <span class="sidebar-text"> Profile</span>
    </a>
  </li>

  <li sec:authorize="isAuthenticated()">
    <a href="/logout" >
      <span class="sidebar-icon"><i class="fas fa-calendar"></i></span>
      <span class="sidebar-text"> Logout</span>
    </a>
  </li>

</html>




