<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Booking</title>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="/index.html">Pensionat</a>
        </div>
        <nav>
            <a href="/booking/create">New Reservation</a>
            <a href="/customers">All Customers</a>
            <a href="/booking/edit">All bookings</a>
        </nav>
    </div>
</header>
<h1>Edit Booking</h1>
<form th:action="@{/booking/editBooking/{id}(id=${bookingDto.id})}" th:object="${bookingDto}" method="post">
    Check-In Date: <input type="date" th:field="*{checkIn}" />
    <div th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}" class="error"></div>
    Check-Out Date: <input type="date" th:field="*{checkOut}" />
    <div th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}" class="error"></div>
    <input type="submit" value="Update Booking" />
</form>
</form>
</body>
</html>